  .box-whatsapp {
    padding: 20px;
    background-color: white;
  }
  .whatsapp {
    width: 60px;
    height: 60px;
  }
  #whatsapp .widget-content {
    background: none;
  }
  #whatsapp .widget-content:hover {
    background: #fafafa;
  }
  #whatsapp p {
    margin-bottom: 0;
  }
  #whatsapp a {
    cursor:pointer
  }