<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Gomodo">
  <meta name="author" content="Ervandra Halim">
  <link rel="icon" href="favicon.ico">
  <title>Withdraw | Gomodo for Business</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../lib/css/fontface.min.css" rel="stylesheet">
  <link href="../lib/css/chosen.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="dashboard-nav">
    <div class="navigation">
      <div class="dashboard-logo">
        <a href="#"><img src="../img/mylogo.png" alt="GOMODO"></a>
      </div>
      <div class="dashboard-profile">
        <!-- <div class="profile-image">
          <img src="../img/profile-picture.png" alt="PROFILE">
        </div> -->
        <div class="profile-info">
          <h3>Tripad Travel</h3>
          <h5>Adventurer</h5>
        </div>
      </div>
      <div class="dashboard-menu-toggle">
        <button class="dashboard-toggle" data-toggle="collapse" data-target="#dashboard-menu"><span class="fa fa-bars"></span></button>
      </div>
      <div class="dashboard-menu collapse" id="dashboard-menu">
        <nav id="mainmenu">
          <ul>
            <li><a href="dashboard.html"><span class="fa fa-dashboard"></span>Dashboard</a></li>
            <li><a href="order.html"><span class="fa fa-briefcase"></span>Order</li>
            <li><a href="product.html"><span class="fa fa-archive"></span>Product</a></li>
            <li class="active"><a href="withdraw.html"><span class="fa fa-credit-card"></span>Withdrawal</a></li>
            <li><a href="bank.html"><span class="fa fa-university"></span>Bank account</a></li>
            <li><a href="settings.html"><span class="fa fa-link"></span>Settings</a></li>
            <li><a href="help.html"><span class="fa fa-question-circle"></span>Help</a></li>
          </ul>
        </nav>
        <nav class="sticky-nav">
          <ul>
            <li><a href="#"><span class="fa fa-sign-out"></span>Log Out</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <section id="content">
    <div class="dashboard-header">
      <div class="container-fluid">      
        <div class="row">
          <div class="col">
            <div class="dashboard-title">
              <h1>Company Withdrawal Transaction</h1>
              <div class="dashboard-tools">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li>Withdrawal</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <form action="#">

              <!-- Product Availbility -->
              <div class="widget" id="order-guest">
                <div class="widget-header">
                  <h3>Withdrawal</h3>
                </div>
                <div class="widget-content">
                  <form action="#" class="form-group-no-margin">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="form-group">
                          <label for="nationality">Saldo</label>
                          <input type="text" class="form-control" id="end-date" name="end-date" disabled placeholder="25,000.000"/>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <button type="button" class="btn-success btn-sm btn-add" data-toggle="modal" data-target="#exampleModalCenter">Request Withdrawal</button>
                      </div>
                    </div>

                    <hr class="full-hr">
                    <div class="row">
                      <!-- start date -->
                      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="form-group">
                          <label for="start-date">Start Date</label>
                          <input type="text" class="form-control" id="start-date" name="start-date"/>
                        </div>
                      </div>
                      <!-- end date -->
                      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="form-group">
                          <label for="end-date">End Date</label>
                          <input type="text" class="form-control" id="end-date" name="end-date"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="widget" id="order">
                          <div class="widget-header">
                            <h3>Withdrawal history</h3>
                          </div>
                          <div class="widget-content widget-full">
                            <div class="widget-table">
                              <div class="responsive-table">
                                <table class="table-border-bottom tablesorter" id="order-table">
                                  <thead>
                                    <tr>
                                      <th>Date</th>
                                      <th>Doc.Number</th>
                                      <th>Currency</th>
                                      <th>Amount</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                    <tr>
                                      <td><a href="#">23/12/2001</a></td>
                                      <td>INV-001</td>
                                      <td>IDR</td>
                                      <td>23,000.000</td>
                                      <td>PAID</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="pagination justify-content-end">
                                <ul>
                                  <li class="text first"><a href="#">First</a></li>
                                  <li class="current">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li class="ellipsis">...</li>
                                  <li><a href="#">10</a></li>
                                  <li class="text last"><a href="#">Last</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <form action="#" class="form-group-no-margin">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content col">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-wid">
                <label for="nationality">Your Balance</label>
                <input type="number" class="form-control" id="total-balance" name="total-balance" disabled placeholder="25,000.000"/>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-wid">
                <label for="nationality">Request Amount</label>
                <input type="number" class="form-control" id="request-amount" name="request-amount"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn-sm btn-success">Request Now</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script src="../lib/js/jquery-slim.min.js"></script>
  <script src="../lib/js/bootstrap.min.js"></script>
  <script src="../lib/js/chosen.jquery.min.js"></script>
  <script src="../js/operator.js"></script>
</body>

</html>