.select2-container--default .select2-selection--single {
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}
.select2-container--default .select2-selection--multiple {
    border: none;
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li:hover {
    color: #009688;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border: none;
    border-bottom: 2px solid #009688;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
    color: #009688;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 25px;
    height: 10px;
    line-height: .6;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #009688;
    color: white;
}