    .widget .widget-content {
        padding: 0;
        background: rgb(255, 255, 255);
    }
    .white {
        background: white;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color:#3994d1;
        background-color: white;
    }
    .nav-pills .nav-link {
        border-radius: 0;
        color: #757575;
    }
    .tab .col-md-3 {
        background: rgb(247, 247, 247);
        padding: 0;
    }
    .col-9 {
        padding: 0;
    }
    .nav-link {
        padding: 1rem 1rem;
    }
    .head-inbox {
        padding: 1rem 1rem;
        box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.1);
        font-weight: bold;
    }
    .list-inbox {
        padding: 1rem 1rem;
    }
    .list-inbox:hover {
        cursor: pointer;
    }
    /* .badge {
        background: #dc3545;
        color: white;
        float: right;
        border-radius: 50%;
        padding: 5px 8px;
    } */
    .message-content {
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .list-inbox .col-auto {
        background-color: none;
    }
    .list-inbox .fa-envelope {
        color: #dc3545;
        font-size: 1.25rem;
    }
    .list-inbox .row {
        margin-left: 0;
    }
    .list-inbox:hover {
        background-color: rgb(250, 250 , 250);
    }
    .read {
        color: rgba(0,0,0,.54);
    }
    .detail-content {
        padding: 1rem 1rem;
        display: none;
    }
    .footer-inbox{
        padding: 2rem;
    }
    .detail-content .caption {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .detail-content .img {
        text-align: center;
        margin: 20px 0;
    }
    .cursor {
        display: none;
        font-size: 1.5rem;
        float: left;
        padding: 9px 15px;
        border: 1px solid rgba(250,250,250,1);
        margin-right: 10px;
    }
    .cursor:hover {
        cursor: pointer;
        background-color: rgb(250, 250 , 250);
    }
    .cursor .fa {
        font-size: 1.3rem;
        opacity: 0.4;
    }
    .tab-full {
        padding: 0;
    }
    .tab-full .nav-link {
        line-height: 1.2;
        padding: 1rem 1rem;
        color: #7f8486;
    }
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        border-color: #dfe6e9!important;
        background-color: #f7f7f7!important;
    }
    #updates .nav-tabs .nav-item {
        padding: 0;
    }
    .nav-tabs .nav-link.active {
        border-color: white;
    }
    .nav-tabs .nav-link.active:hover {
        border-color: white;
        background: white;
    }
    .no-padding {
        padding: 0;
    }
    .nav-tabs .nav-link:hover {
        border-color: #dfe6e9;
        background-color: #dfe6e9;
    }
    .hidden{
        display: none;
    }
    ul.pagination li{
        padding: 2px 8px;
        border-radius: 5px;
        background-color: #fafafa;
        margin: 1px;
        border: 1px solid #4caf51;
    }
    ul.pagination{
        flex-wrap: wrap;
    }
    ul.pagination li:hover{
        background-color: #4caf51;
        cursor: pointer;
        color: white;
    }
    ul.pagination li:hover a{
        color: white;
    }
    ul.pagination li.active,ul.pagination li.active:hover,ul.pagination li.active:visited,ul.pagination li.active:focus{
        background-color: #4caf51;
        color: white;
    }
    ul.pagination li.disabled{
        background-color: #fafafa;
        border: 1px solid #fafafa;
        cursor: not-allowed;
    }
    .dashboard-content {
        overflow-x: hidden;
    }
    #updates .nav .nav-link {
        padding: 1rem 1.5rem;
        line-height: 1.5;
        border: none;
    }
    @media screen and (max-width: 768px) {
        .widget .widget-content {
            padding: 0;
        }
        .list-inbox {
            border-top: 1px solid #fafafa;
        }
        .unread {
            float: none!important;
            padding-left: 0;
        }
        .cursor {
            padding: 22px 15px;
        }
    }